<div style="margin: 30px;">
    <h1>{{ title }}</h1>
    <mat-accordion>
    <div *ngFor="let customer of backend_service.customers">
        <mat-expansion-panel [expanded]="false" hideToggle (opened)="reset_error()">
            <mat-expansion-panel-header>
              <mat-panel-title>
              <mat-icon>account_circle</mat-icon>
                  <span>{{ customer.Name }}</span>
              </mat-panel-title>
            </mat-expansion-panel-header>
        
            <mat-form-field appearance="fill">
              <mat-label>Balance</mat-label>
              <input matInput type="number" value="{{ customer.Balance }}" readonly>
            </mat-form-field>

            <mat-form-field appearance="fill" *ngIf="show;">
                <mat-label >Transfer Amount</mat-label>
                <input matInput type="number" [(ngModel)] = "transfer_amount">
            </mat-form-field>
            
            <mat-form-field appearance="fill" *ngIf="!show;">
              <mat-label>Balance after Transfer</mat-label>
              <input matInput type="number" value="{{ customer.Balance + backend_service.transfer_amount}}" readonly>
            </mat-form-field>
            <p style="color: red;">{{ error }}</p>
            <button mat-raised-button color="primary" (click)="transferring(customer._id ,customer.Balance)">{{ transfer_button }}</button>
          </mat-expansion-panel>
    </div>
    </mat-accordion>

</div>