<mat-toolbar class="mat-elevation-z8">
  <button mat-icon-button *ngIf="sidenav.mode === 'over'" (click)="sidenav.toggle()">
      <mat-icon *ngIf="!sidenav.opened">
          menu
      </mat-icon>
      <mat-icon *ngIf="sidenav.opened">
          close
      </mat-icon>
  </button>
  <span style="width: 100%; text-align: center;">Basic Banking App</span>
</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav #sidenav="matSidenav" class="mat-elevation-z8">


      <button mat-button class="menu-button" (click)="navigate('home')">
          <mat-icon>home</mat-icon>
          <span>Home</span>
      </button>
      <button mat-button class="menu-button" (click)="navigate('customers')">
          <mat-icon>person</mat-icon>
          <span>Customers</span>
      </button>
      <button mat-button class="menu-button" (click)="navigate('transfers')">
        <mat-icon>compare_arrows</mat-icon>
        <span>Transfers</span>
    </button>


  </mat-sidenav>
  <mat-sidenav-content>
      <div class="content mat-elevation-z8">
        <router-outlet></router-outlet>
      </div>
  </mat-sidenav-content>
</mat-sidenav-container>